.row
{
    margin: 0;
}

.project-page
{
    color: #494b4d;
    background-color: #b5bbc1;
    font-size: 14px;
}

.project-page .intro {
    padding-top: 20px;
    font-size: 16px;
    margin: 0 auto 30px;
}

.project-page .intro img {
    width: 100%;
    margin-top: 20px;
}

.project-page .intro h3 {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    color: inherit;
}

.project-page .text p {
    line-height: 1.45;
    text-indent: 15px;
    margin-bottom: 0;
    text-align: justify;
}

@media (min-width:768px) {
    .project-page .text p {
        font-size: 16px;
    }
}

.project-page .text h2 {
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 1.45;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

@media (min-width:768px) {
    .project-page .text h2 {
        font-size: 20px;
    }
}

.project-page .text h5 {
    margin-top: 20px;
}

.project-page .text figure {
    text-align: center;
}

.project-page .text figure img {
    margin-bottom: 12px;
    margin-top: 0;
    max-width: 100%;
    overflow: hidden;
}
