---
import {Icon} from "astro-icon/components";

interface Props {
    icon: string;
    text: string;
    href: string;
}

const {icon, text, href} = Astro.props;
---

<a class="inline-flex gap-4 border border-white text-2xl rounded-2xl px-6 py-4 active:scale-95 duration-200 ease-in-out hover:border-opacity-70 border-opacity-30" aria-label="link" target="_blank" href={href}>
    <Icon name={icon} class="my-auto"/>
    {text}
</a>